# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# OS
.DS_Store
*.swp
*~
Thumbs.db

# XcodeGen
*.xcodeproj
